@font-face {
  font-family: 'Proxima Nova Condensed Semibold';
  src: url('./fonts/proxima_nova_condensed_semibold.eot'); /* IE 9 Compatibility Mode */
  src: url('./fonts/proxima_nova_condensed_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('./fonts/proxima_nova_condensed_semibold.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/proxima_nova_condensed_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('./fonts/proxima_nova_condensed_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/proxima_nova_condensed_semibold.svg#proxima_nova_condensed_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Alegreya Sans SC Medium';
  src: url('./fonts/alegreya_sans_sc_medium.eot'); /* IE 9 Compatibility Mode */
  src: url('./fonts/alegreya_sans_sc_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('./fonts/alegreya_sans_sc_medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/alegreya_sans_sc_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('./fonts/alegreya_sans_sc_medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/alegreya_sans_sc_medium.svg#alegreya_sans_sc_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
