* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content-container {

}

.body_background {
  img {
    position: fixed;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
  }
}
